.built-with-love-and-react-box{
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    background: #222;
    text-align: center;
    z-index: 1212;
}

.built-with-love-and-react img{
    vertical-align: inherit;
}
.built-with-love-and-react{
    line-height: 34px;
    padding-left: 100px;
    font-size: medium;
    color: white;
    vertical-align: middle;
}

@keyframes App-hearth-beat {
    0%{ transform: scale( .75 ); }
    20%{ transform: scale( 1 ); }
    40%{ transform: scale( .75 ); }
    60%{ transform: scale( 1 ); }
    80%{ transform: scale( .75 ); }
    100%{ transform: scale( .75 ); }
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30px;
}

.App-hearth {
    height: 30px;
    animation: App-hearth-beat infinite 3s linear;
}
