.description-box{
    margin-top: 5vh;
}

@media(max-width: 1423px) and (min-width: 1200px){
    .description-box{
        margin-top: 0;
    }
}

.description-box--ins{
    margin-left: calc(50vw - 200px);
    margin-top: 30px;
}



.icon-box {
    width: 50px;
    font-size: 25px;
}

.icon-box-out{
    display: flex;
    line-height: 50px;
}
