.game-type-title{
    margin: 20px 0 0 20px;
    font-family: "Eddie", sans-serif;
    font-size: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

hr{
    background: #222;
    display: block;
    height: 3px;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid #222;
    margin: 1em 0;
    padding: 0;
}

.game-box {
    float: left;
    margin: 20px;
    background: #222;
    font-family: 'Eddie', sans-serif;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    grid-column: span 4;
    min-height: 300px;
    display: inline-block;
}

.game-box .game-gif {
    width: 100%;
    object-fit: fill;
    height: 260px
}

.game-box a {
    text-decoration: none;
    color: #fff;
    outline: 0;
}

.game-box .game-text-name {
    min-height: 40px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.game-box .game-box-image {
    height: 260px;
}

.game-box .game-box-title {
    position:relative;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}

.game-box .game-title {
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 1000px){
    .game-box {
        grid-column: span 6;
    }
}

@media screen and (max-width: 680px){
    .game-box {
        grid-column: span 12;
    }
}