@font-face {
    font-family:"Eddie";
    src: url("../../assets/fonts/eddie.ttf");
}

.navigation-box {
    position: fixed;
    text-align: center;
    margin-top: 50px;
    padding-top: 15px;
    cursor: pointer;
    width: 80px;
    background: #222;
    height: 800px;
    display: inline-block;
    min-height: 100vh;
    float: left;
}

.navigation-box .navigation-item a {
    color: #fff;
    border: none;
    outline: 0;
    text-decoration: none;
}

@keyframes svg-animate {
    from {}
    to {
        stroke-dashoffset: 0;
    }
}

.me_photo_nav_svg{
    height: 60px;
    width: auto;
}

.me_photo_nav_svg path{
    stroke:#fff;
}

.navigation-item:hover * {
    stroke: #64B64D;
    color: #64B64D !important;
}

.navigation-item {
    margin-bottom: 20px;
}

.navigation-label {
    font-family: 'Eddie', sans-serif;
}
