body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #222;
  display: flex;
}

#root{
  width: 100%;
}

.route-box {
  overflow-x: hidden;
  padding-bottom: 30px;
  width: calc(100% - 80px);
  display: inline-block;
  margin-top: 50px;
  margin-left: 80px;
}